<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmspay.mpweexsdk.example">

    <application
        android:name="com.lmspay.mpweexsdk.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lmspay.mpweexsdk.example.MainActivity" />

        <activity android:name="com.lmspay.mpweexsdk.example.ApiDataShowActivity" />
        <activity android:name="com.lmspay.mpweexsdk.example.ApiExampleActivity" />
        <activity android:name="com.lmspay.mpweexsdk.example.HAdsActivity" />
        <activity android:name="com.lmspay.mpweexsdk.example.SecondFloorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mpweexAppTheme" />
        <activity android:name="com.lmspay.mpweexsdk.example.SecondFloor2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/mpweexAppTheme" />

        <activity android:name="com.lmspay.mpweexsdk.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mpweexAppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0fa0262cd2cc8370ae71833e02f1c060" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>